:root {
    /* Fonts */
    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;

    /* Colors */
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --white-color: #FFFFFF;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;

    --hero-footer-background-color: #2E2F42;
    --white-background-color: #FFFFFF;
    --modal-background-color:#FCFCFC;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
    font-family: var(--main-font);
    color: var(--text-color);
    background-color: var(--white-background-color);
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* reset styles start */
address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.btn {
    cursor: pointer;
    color: currentColor;
    font-family: inherit;
}
/* reset styles end */

/**
  |============================
  | Logo
  |============================
*/
.logo {
    font-family: var(--logo-font);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: var(--primary-brand-color);
}

/**
  |============================
  | Title
  |============================
*/
.title {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}

/**
  |============================
  | Subtitle
  |============================
*/
 .subtitle {
     color: var(--dark-color);
     font-size: 20px;
     font-weight: 500;
     line-height: 1.2;
 }

/**
  |============================
  | Header styles
  |============================
*/
.header-nav {
    color: var(--dark-color);
    font-weight: 500;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--pressed-state-color);
}

/**
  |============================
  | Hero style
  |============================
*/
.hero {
    background-color: var(--hero-footer-background-color);
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
}

.hero-btn {
    background-color: var(--primary-brand-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state-color);
}

/**
  |============================
  | Our Team
  |============================
*/
.team {
    background-color: var(--light-color);
    text-align: center;
}

/**
  |============================
  | Filter
  |============================
*/
.filter-btn {
    background-color: var(--light-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--pressed-state-color);
    color: var(--white-color);
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
    background-color: var(--hero-footer-background-color);
    color: var(--light-color);
    }
